body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #424242;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #2d638c;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(165, 125, 51);
    color: #2f4463;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: darkred;
}
